body {
    font-family: Arial;
    margin: 0;
}

/* Header */
header {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Home layout */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.content img {
    width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

.text {
    max-width: 400px;
}

/* Pages */
.page {
    padding: 40px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}